@model IEnumerable<SecullumInfraWeb.Models.Hardware>

@{
    ViewData["Title"] = "Equipamentos:";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-default">Cadastrar Novo:</a>
</p>
<table class="table table-striped table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Descrição")
            </th>
            <th>
                @Html.DisplayName("Processador")
            </th>
            <th>
                @Html.DisplayName("Ram")
            </th>
            <th>
                @Html.DisplayName("Hd/SSD")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HdSsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id">Detallhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
